<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./test4.css" />
    <link rel="stylesheet" href="./main.css" />
    <script src="./index.js" defer type="module"></script>
    <title>Publishing</title>
  </head>
  <body>
    <div class="main-background">
      <nav class="nav">
        <kg-nav color="wht"></kg-nav>
      </nav>

      <section class="main-search-container searching">
        <div class="main-search-input-container">
          <input class="main-search-input" type="text" placeholder="검색어를 입력하세요." />
          <!-- <div class="search-icon icon">
            <img src="./src/public/icon/search_icon.svg" alt="search" />
          </div> -->
        </div>
      </section>
    </div>
  </body>
</html>
