kg-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 100%;
  font-size: 1rem;
}

.menu-wrapper {
  display: flex;
  align-items: center;

  height: 100%;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 7.5em;
  height: 100%;
  cursor: pointer;
  text-align: center;
  transition: 0.2s;
}
.menu:hover {
  font-weight: 600;
}

.menu.blk > a {
  color: #000;
}

.menu.wht > a {
  color: #fff;
}

.func-wrapper {
  display: flex;
  align-items: center;

  height: 100%;
}

.login-wrapper {
  margin: auto 2.5em;
}

.login-btn.blk {
  height: 2.5em;
  padding: 0 2em;

  border: 1px solid #000;

  font-weight: 300;
  color: #000;

  cursor: pointer;
  transition: 0.2s;
}

.login-btn.blk:hover {
  background-color: #000;
  color: #fff;
  border-color: #fff;
}

.login-btn.wht {
  height: 2.5em;
  padding: 0 2em;

  border: 1px solid #fff;

  font-weight: 300;
  color: #fff;

  cursor: pointer;
  transition: 0.2s;
}

.login-btn.wht:hover {
  background-color: #fff;
  color: #000;
}
