section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  box-sizing: border-box;
}

.heading-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 21.125em;

  color: #fff;

  background-image: url("./public/img/head_bck.svg");
  background-size: cover;

  box-sizing: border-box;
}
.heading-wrapper {
  width: 100%;
  min-width: 934px;
  max-width: 1975px;

  margin-left: 4em;

  box-sizing: border-box;
}

.heading-wrapper > h1 {
  margin: 0;
  margin-top: 50px;
  font-size: 2.5rem;
}

.write-btn {
  color: #fff;
  background-color: #0063c1;
  border-radius: 4px;
}

.delete-btn {
  color: #fff;
  background-color: #f24c38;
  border-radius: 4px;
}

.board-select {
  width: 5%;
}
.board-index {
  width: 5%;
}
.board-title {
  width: 50%;
}
.board-date {
  width: 20%;
}
.board-author {
  width: 20%;
}

.board-list > .board-select {
  text-align: center;
}
.board-list > .board-index {
  text-align: center;
}
.board-list > .board-title {
  text-align: left;
}
.board-list > .board-date {
  text-align: center;
}
.board-list > .board-author {
  text-align: center;
}
